@page
@model RazorPages.GeoTagsExtractor.CRUD.Pages.DetailsModel

@{
	ViewData["Title"] = "Details";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
	<h1>Image</h1>
	<hr />
	<dl class="row">
		<div class="col-md-6">
			<img src="@Url.Content(Model.FileById.Path)" alt="Model.FileById.Name" style="width:100%; height:auto" />
		</div>
		<div class="col-md-6">
			<dt class="col-md-6">@Html.DisplayNameFor(model => model.FileById.Name)</dt>
			<dd class="col-md-6">@Html.DisplayFor(model => model.FileById.Name)</dd>

			<dt class="col-md-6">@Html.DisplayNameFor(model => model.FileById.Latitude)</dt>
			<dd class="col-md-6">@Html.DisplayFor(model => model.FileById.Latitude)</dd>

			<dt class="col-md-6">@Html.DisplayNameFor(model => model.FileById.Longitude)</dt>
			<dd class="col-md-6">@Html.DisplayFor(model => model.FileById.Longitude)</dd>
		</div>
	</dl>
</div>
<div>
	<a asp-page="./Index">Back to List</a>
</div>

